<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>This is the page where the user clicks on the login button</h1>
<!--    Itt lehetne inlineonline a propertiesbol vagy egy modellbol -->
    <a href="https://accounts.zoho.eu/oauth/v2/auth?scope=ZOHOPEOPLE.leave.CREATE&client_id=1000.UQU2XH1C87ULJ7XBPBUPNBYMGK9MOA&response_type=code&access_type=offline&redirect_uri=https://ddbd-2a02-2f05-860d-b400-e447-241d-d879-5a1d.eu.ngrok.io/redirect">Login with Zoho</a>
</body>
</html>